@import "tailwindcss";
@import './fonts.css';



body {
  font-family: 'Ubuntu', sans-serif;
}

.font-chloe {
  font-family: 'Chloe', sans-serif;
}

@theme {
  --color-career: #FFB7A1;
}

/* Para títulos (Quicksand) y subtítulos/contenido (Ubuntu) */
.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}
.font-ubuntu-regular {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.font-ubuntu-light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
